<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{title}}</title>
  <link rel="manifest" href="manifest.json" />
  <link rel="stylesheet" href="/css/styles.css" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">
</head>
<body class="search">
  
  {{> header/index logoUrl=true }}

  <div class="wrapper">
    <div class="box-card">
      <ul class="card-list">

        {{> cardMarkdown/index }}
        {{> cardMarkdown/index }}
        {{> cardMarkdown/index }}
        {{> cardMarkdown/index }}
        {{> cardMarkdown/index }}
        {{> cardMarkdown/index }}
        {{> cardMarkdown/index }}
        {{> cardMarkdown/index }}
        {{> cardMarkdown/index }}
        {{> cardMarkdown/index }}
        {{> cardMarkdown/index }}
        {{> cardMarkdown/index }}

        {{> card/index }}

      </ul>
    </div>
  </div>

  {{> miniCart/index }}

	<script src="/js/bundle.js"></script>
</body>
</html>