.mini-cart {
	position: fixed;
	bottom: 30px;
	right: 30px;
  z-index: 99;
  border-radius: 4px;

	box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.13);
  cursor: pointer;

  &:after {
    clear: both;
    content: "";
    display: table;
  }

  .count {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    right: -10px;
    top: -10px;
    font-size: 14px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.32);
  }

  .box-value {
    display: none;
    float: left;
    background-color: #fff;
    border-radius: 5%;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    vertical-align: top;
  }

  .icon-cart {
    float: left;
    display: inline-block;
    background-color: #fcd500;
    height: 60px;
    width: 60px;
    border-radius: 0 4px 4px 0;
    background-image: url("/images/icon-bag-close.svg");
    background-size: 169px;
    background-position: -12px;
  }
}