
<section class="header {{#if home}} home {{/if}}">
	<div class="wrapper">
		{{#if logoUrl}}
			<a href="/">
				<img class="logo" src="/images/logo.png" alt="">
			</a>
			{{else}}
			<img class="logo" src="/images/logo.png" alt="">
		{{/if}}

		<div class="pull-right">
			<div class="burgers">
				<div class="burger"></div>
				<div class="burger"></div>
				<div class="burger"></div>
			</div>
		</div>
		
		<div class="user-actions">
			
			{{#if customerAddress}}
			{{/if}}
				{{> customerAddress/index}}
			<a href="#" class="btn btn-login">Entrar</a>
		</div>
	</div>
</section>