.header {
	top: 0;
	width: 100%;
	z-index: 22;
	padding: 20px 0;
	position: absolute;
	background-color: #000;
  transition: background 600ms;
  
  &.menu-open {
    background-color: #000!important;
  }

  &:hover {
    background-color: #000;
  }

  .logo {
    width: 250px;
    float: left;
  }

  .pull-right {
    float: right;

    &:after {
      clear: both;
      content: "";
      display: table;
    } 
  }

  .burgers {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 16px 10px;
    margin-top: 18px;
    cursor: pointer;
    transition: all 200ms;
    display: none;

    &.active {
      .burger {
        &:first-child {
          transform: rotate(45deg);
          position: absolute;
        }

        &:nth-child(2) {
          display: none;
        }

        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }

    .burger {
      width: 30px;
      height: 2px;
      background-color: #ffffff;
      margin-bottom: 5px;
    }
  }

  .user-actions {
    float: right;

    &:after {
      clear: both;
      content: "";
      display: table;
    } 
  }

  .btn-login {
    margin-top: 20px;
    vertical-align: top;
    display: inline-block;
  }
}

@media screen and (max-width: 800px) {
  .header {
    .burgers {
      display: block;
    }

    .user-actions {
      margin-top: 20px;
      display: none;

      &.active {
        display: block;
      }
    }

    .btn-login {
      display: table;
      margin: 20px auto;
    }
  }
}

@media screen and (max-width: 520px) {
  .header {
    .logo {
      width: 180px;
    }

    .burgers {
      margin-top: 8px;
    }

    .btn-login {
      width: 100%;
    }
  }
}