.modal-open {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition: filter 300ms;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
  z-index: 99;

  &.open {
	  display: block;
  }

  .modal-overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(0,0,0,0.8);
  }

  .modal-content {
    padding: 20px;
    width: 400px;
    background: #fff;
    position: fixed;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-close {
    width: 25px;
    height: 25px;
    background-image: url("/images/icon-delete.svg");
    background-size: contain;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .modal-title {
    text-align: center;
    font-size: 35px;
  }

  .modal-subtitle {
    text-align: center;
    font-size: 16px;
  }
}

@media screen and (max-width: 520px) {
  .modal {
    .modal-content {
      width: 80%;
    }
  }
}