// VARIABLES
$wrapper-size: 1200px;

// GENERAL
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 100; // 400, 700, 900
}

body {
	font-family: "Poppins", sans-serif;
	padding: 140px 0 100px 0;
	background-color: #F5F5F5;
}

@media screen and (max-width:520px) {
	body {
		padding-top: 115px;
	}	
}

.wrapper {
	margin: 0 auto;
	position: relative;
	width: $wrapper-size;
}

@media screen and (max-width: 1200px) {
	.wrapper {
		width: 100%;
		padding: 0 10px;
	}
}

input {
	font-family: 'Poppins', sans-serif;
	outline: none;

	&:focus,
	&:hover {
		outline: none;
	}
}

.btn {
	font-size: 14px;
	padding: 12px 30px;
	border-radius: 50px;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid #fcd500;
	background-color: transparent;
	outline: none;
	display: inline-block;
	text-align: center;
	color: #fcd500;
	cursor: pointer;
	transition: all 300ms;

	&:hover {
		color: #000;
		background-color: #fcd500;
	}
}