<li class="card-markdown">
	<div class="box animated-background"></div>
	<div class="line animated-background"></div>
	<div class="line animated-background"></div>
	<div class="line animated-background"></div>
</li>