.card-markdown {
	float: left;
	width: 23%;
	margin: 1%;
	padding: 20px;
	background-color: #fff;
	color: #333;
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 -1px 2px 0 rgba(0,0,0,0.1);
	position: relative;
	transition: all 200ms;

  .box {
    width: 100%;
    height: 150px;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .line {
    width: 100%;
    height: 15px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .card-title {
    margin-bottom: 0;
  }
}

.animated-background {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
	background-size: 800px 104px;
	position: relative;
}

@media screen and (max-width: 1024px) {
  .card-markdown {
    width: 31%;
  }
}

@media screen and (max-width: 768px) {
  .card-markdown {
    width: 48%;
  }
}

@media screen and (max-width: 480px) {
  .card-markdown {
    margin: 0 0 10px 0;
    width: 100%;
  }
}

@keyframes placeHolderShimmer {
	0% {
    background-position: -468px 0
  }

	100% {
    background-position: 468px 0
  }
}

