* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100; }

body {
  font-family: "Poppins", sans-serif;
  padding: 140px 0 100px 0;
  background-color: #F5F5F5; }

@media screen and (max-width: 520px) {
  body {
    padding-top: 115px; } }

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 1200px; }

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
    padding: 0 10px; } }

input {
  font-family: 'Poppins', sans-serif;
  outline: none; }
  input:focus, input:hover {
    outline: none; }

.btn {
  font-size: 14px;
  padding: 12px 30px;
  border-radius: 50px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fcd500;
  background-color: transparent;
  outline: none;
  display: inline-block;
  text-align: center;
  color: #fcd500;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms; }
  .btn:hover {
    color: #000;
    background-color: #fcd500; }

.modal-age-gate .group-button {
  margin: 20px 0 0 0;
  text-align: center; }

.modal-age-gate .btn {
  margin-right: 10px; }
  .modal-age-gate .btn:last-child {
    margin-right: 0; }

.card-markdown {
  float: left;
  width: 23%;
  margin: 1%;
  padding: 20px;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  -webkit-transition: all 200ms;
  transition: all 200ms; }
  .card-markdown .box {
    width: 100%;
    height: 150px;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px; }
  .card-markdown .line {
    width: 100%;
    height: 15px;
    margin-bottom: 20px; }
    .card-markdown .line:last-child {
      margin-bottom: 0; }
  .card-markdown .card-title {
    margin-bottom: 0; }

.animated-background {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eee), color-stop(18%, #ddd), color-stop(33%, #eee));
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 800px 104px;
  position: relative; }

@media screen and (max-width: 1024px) {
  .card-markdown {
    width: 31%; } }

@media screen and (max-width: 768px) {
  .card-markdown {
    width: 48%; } }

@media screen and (max-width: 480px) {
  .card-markdown {
    margin: 0 0 10px 0;
    width: 100%; } }

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

.card-list {
  list-style-type: none; }
  .card-list:after {
    clear: both;
    content: "";
    display: table; }

.card {
  float: left;
  width: 23%;
  margin: 1%;
  padding: 20px;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  -webkit-transition: all 200ms;
  transition: all 200ms; }
  .card:hover {
    -webkit-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.13); }
    .card:hover:before {
      content: "";
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      display: block; }
    .card:hover .card-qtty {
      display: block; }
  .card .card-image-box {
    height: 200px;
    text-align: center;
    margin-bottom: 20px; }
  .card .card-image {
    height: 100%; }
  .card .card-price {
    font-size: 24px; }
  .card .card-title {
    font-size: 14px;
    height: 44px;
    color: #666; }
  .card .card-qtty {
    margin-top: 10px;
    text-align: center; }
  .card .qtty-count,
  .card .qtty-less,
  .card .qtty-more {
    width: 45px;
    height: 45px;
    border: 2px solid #fcd500;
    border-radius: 50px;
    vertical-align: middle;
    outline: none; }
  .card .qtty-count {
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    width: 60px;
    height: 60px; }
  .card .qtty-less,
  .card .qtty-more {
    cursor: pointer;
    background-color: #e4e4e4; }

@media screen and (max-width: 1024px) {
  .card {
    width: 31%; } }

@media screen and (max-width: 768px) {
  .card {
    width: 48%; } }

@media screen and (max-width: 480px) {
  .card {
    margin: 0 0 10px 0;
    width: 100%; } }

.box-address {
  display: none;
  position: relative;
  margin: 10px 30px 0 0;
  max-width: 420px; }
  .box-address .icon-place {
    display: inline-block;
    position: absolute; }
  .box-address .user-address {
    font-size: 16px;
    color: #fcd500;
    padding-left: 30px;
    max-width: 370px;
    overflow: hidden; }
  .box-address .change-address {
    font-size: 14px;
    color: #fff;
    float: right;
    text-decoration: underline; }

#autocomplete,
#number,
#complement {
  padding: 0 20px;
  font-size: 14px;
  border: none;
  height: 50px;
  line-height: 50px;
  text-overflow: ellipsis; }

#autocomplete {
  width: 100%;
  border-radius: 50px; }
  #autocomplete.active {
    border-radius: 10px 10px 0 0; }

.more-details {
  margin-top: 10px;
  display: none; }
  .more-details:after {
    clear: both;
    content: "";
    display: table; }
  .more-details .group-input::after {
    clear: both;
    content: "";
    display: table; }
  .more-details .error-message {
    display: none;
    color: #fff;
    background: #cc3232;
    border-radius: 20px;
    padding: 2px 20px;
    font-size: 12px;
    margin-top: 10px;
    width: 100%; }

#number,
#complement {
  float: left; }

#number {
  width: 25%;
  border-right: 1px solid #cac7c7;
  border-radius: 50px 0 0 50px; }

#complement {
  width: 75%;
  border-radius: 0 50px 50px 0; }

#find-products {
  width: 100%;
  color: #000;
  margin-top: 10px;
  background-color: #fcd500; }

.pac-container {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  margin-top: 0;
  border: none; }
  .pac-container:after {
    padding: 10px 0;
    margin-right: 10px; }
  .pac-container .pac-item {
    padding: 6px 20px; }

.find-address.loading {
  opacity: 0.5; }

@media screen and (max-width: 380px) {
  #number {
    width: 40%; }
  #complement {
    width: 60%; } }

.header {
  top: 0;
  width: 100%;
  z-index: 22;
  padding: 20px 0;
  position: absolute;
  background-color: #000;
  -webkit-transition: background 600ms;
  transition: background 600ms; }
  .header.menu-open {
    background-color: #000 !important; }
  .header:hover {
    background-color: #000; }
  .header .logo {
    width: 250px;
    float: left; }
  .header .pull-right {
    float: right; }
    .header .pull-right:after {
      clear: both;
      content: "";
      display: table; }
  .header .burgers {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 16px 10px;
    margin-top: 18px;
    cursor: pointer;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    display: none; }
    .header .burgers.active .burger:first-child {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute; }
    .header .burgers.active .burger:nth-child(2) {
      display: none; }
    .header .burgers.active .burger:last-child {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .header .burgers .burger {
      width: 30px;
      height: 2px;
      background-color: #ffffff;
      margin-bottom: 5px; }
  .header .user-actions {
    float: right; }
    .header .user-actions:after {
      clear: both;
      content: "";
      display: table; }
  .header .btn-login {
    margin-top: 20px;
    vertical-align: top;
    display: inline-block; }

@media screen and (max-width: 800px) {
  .header .burgers {
    display: block; }
  .header .user-actions {
    margin-top: 20px;
    display: none; }
    .header .user-actions.active {
      display: block; }
  .header .btn-login {
    display: table;
    margin: 20px auto; } }

@media screen and (max-width: 520px) {
  .header .logo {
    width: 180px; }
  .header .burgers {
    margin-top: 8px; }
  .header .btn-login {
    width: 100%; } }

.mini-cart {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.13);
  cursor: pointer; }
  .mini-cart:after {
    clear: both;
    content: "";
    display: table; }
  .mini-cart .count {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    right: -10px;
    top: -10px;
    font-size: 14px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.32); }
  .mini-cart .box-value {
    display: none;
    float: left;
    background-color: #fff;
    border-radius: 5%;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    vertical-align: top; }
  .mini-cart .icon-cart {
    float: left;
    display: inline-block;
    background-color: #fcd500;
    height: 60px;
    width: 60px;
    border-radius: 0 4px 4px 0;
    background-image: url("/images/icon-bag-close.svg");
    background-size: 169px;
    background-position: -12px; }

.modal-open {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }
  .modal.open {
    display: block; }
  .modal .modal-overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.8); }
  .modal .modal-content {
    padding: 20px;
    width: 400px;
    background: #fff;
    position: fixed;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .modal .modal-close {
    width: 25px;
    height: 25px;
    background-image: url("/images/icon-delete.svg");
    background-size: contain;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px; }
  .modal .modal-title {
    text-align: center;
    font-size: 35px; }
  .modal .modal-subtitle {
    text-align: center;
    font-size: 16px; }

@media screen and (max-width: 520px) {
  .modal .modal-content {
    width: 80%; } }

.page404 {
  text-align: center; }
  .page404 .page404-title {
    margin-top: 60px;
    font-size: 30px; }
  .page404 .btn-back-home {
    margin-top: 20px; }

.home {
  padding-top: 0 !important;
  background-image: url("/images/bg-full.jpg");
  background-repeat: no-repeat;
  background-position: -220px 0px; }
  .home .header {
    background-color: transparent; }

@media screen and (max-width: 1200px) {
  .home {
    background-size: inherit;
    background-position: -520px 0px; } }

.section-hero {
  width: 480px;
  position: absolute;
  top: 35vh;
  right: 40px; }
  .section-hero .title,
  .section-hero .subtitle {
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); }
  .section-hero .title {
    font-size: 50px;
    line-height: 60px; }
  .section-hero .subtitle {
    font-size: 18px;
    margin-bottom: 10px; }

@media screen and (max-width: 520px) {
  .section-hero {
    padding: 0 20px;
    width: 100%;
    top: 100px;
    right: 0; }
    .section-hero .title {
      font-size: 40px; }
    .section-hero .subtitle {
      font-size: 16px; } }

@media screen and (max-width: 360px) {
  .section-hero .title {
    font-size: 30px;
    line-height: 40px; }
  .section-hero .subtitle {
    font-size: 16px; } }

.modal-seller-not-found .btn {
  display: inherit;
  margin: 20px auto 0; }

.box-error {
  padding: 40px 0;
  text-align: center; }
  .box-error .error-title {
    font-size: 25px; }
  .box-error .btn {
    margin-top: 40px; }

