{{#if error}}
	<section class="box-error">
		<h1 class="error-title">Ops.. Nenhum produto encontrado! :(</h1>

		<a href="#" class="btn btn-back-empty-search">voltar a home</a></h2>
	</section>
	{{else}}
	{{> card/index }}
{{/if}}

