<div class="find-address">
	<input id="autocomplete" placeholder="Fala ai o endereço" type="text"></input>
	<div class="more-details">
		<div class="group-input">
			<input id="number" type="tel" placeholder="Número">
			<input id="complement" type="text" placeholder="Complemento">
		</div>
		<spam class="error-message"></spam>
		<button id="find-products" class="btn next-page">Continuar</button>
	</div>
</div>