#autocomplete,
#number,
#complement {
	padding: 0 20px;
	font-size: 14px;
	border: none;
	height: 50px;
	line-height: 50px;
	text-overflow: ellipsis;
}

#autocomplete {
	width: 100%;
	border-radius: 50px;

  &.active {
    border-radius: 10px 10px 0 0;
  }
}

.more-details {
	margin-top: 10px;
	display: none;

  &:after {
    clear: both;
    content: "";
    display: table;
	}
	
	.group-input {
		&::after {
			clear: both;
			content: "";
			display: table;
		}
	}

	.error-message {
		display: none;
    color: #fff;
    background: #cc3232;
    border-radius: 20px;
    padding: 2px 20px;
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
	}
}

#number,
#complement {
	float: left;
}

#number {
	width: 25%;
	border-right: 1px solid #cac7c7;
	border-radius: 50px 0 0 50px;
}

#complement {
	width: 75%;
	border-radius: 0 50px 50px 0;
}

#find-products {
	width: 100%;
	color: #000;
	margin-top: 10px;
	background-color: #fcd500;
}

.pac-container {
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	margin-top: 0;
	border: none;

  &:after {
    padding: 10px 0;
    margin-right: 10px;
  }

  .pac-item {
    padding: 6px 20px;
  }
}

.find-address {
  &.loading {
	  opacity: 0.5;
  }
}

@media screen and (max-width: 380px) {
	#number {
		width: 40%;
	}
	
	#complement {
		width: 60%;
	}
}