{{#each products}}
	{{#each productVariants}}
		<li class="card" id="{{productVariantId}}">
			<div class="card-image-box">
				<img src="{{imageUrl}}" alt="{{title}}" class="card-image">
			</div>
			<div class="card-price">
				<span class="r$">R$</span>
				<span class="price">{{price}}</span>
			</div>
			<h2 class="card-title">{{title}}</h2>
			<h3 class="description">{{description}}</h3>
			<div class="card-qtty" product-id="{{productVariantId}}">
				<button class="qtty-less">-</button>
				<input 
					type="tel" class="qtty-count" value="{{#if qtty}}{{qtty}}{{else}}0{{/if}}" disabled="disabled" >
				<button class="qtty-more">+</button>
			</div>
		</li>
	{{/each}}
{{/each}}