.card-list {
  list-style-type: none;
  
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.card {
	float: left;
	width: 23%;
	margin: 1%;
	padding: 20px;
	background-color: #fff;
	color: #333;
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 -1px 2px 0 rgba(0,0,0,0.1);
	position: relative;
	transition: all 200ms;

  &:hover {
  	box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.13);

    &:before {
      content: "";
      background-color: rgba(0,0,0,0.3);
      width: 100%;
      height: 100%;
      display: block;
    }
    .card-qtty {
      display: block;
    }
  }

  .card-image-box {
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
  }

  .card-image {
    height: 100%;
  }

  .card-price {
    font-size: 24px;
  }

  .card-title {
    font-size: 14px;
    height: 44px;
    color: #666;
  }

  .card-qtty {
    margin-top: 10px;
    text-align: center;
  }

  .qtty-count,
  .qtty-less,
  .qtty-more {
    width: 45px;
    height: 45px;
    border: 2px solid #fcd500;
    border-radius: 50px;
    vertical-align: middle;
    outline: none;
  }

  .qtty-count {
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    width: 60px;
    height: 60px;
  }

  .qtty-less,
  .qtty-more {
    cursor: pointer;
    background-color: #e4e4e4;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    width: 31%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 48%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    margin: 0 0 10px 0;
    width: 100%;
  }
}