<section class="box-address">
	<img src="/images/icon-place.svg" class="icon-place">
	<h4 class="user-address">Avenida Lauro gomes 5901, Apto 144</h4>
	<a href="/" class="change-address">Mudar endereço</a>
</section>