.box-address {
	display: none;
	position: relative;
	margin: 10px 30px 0 0;
  max-width: 420px;

  .icon-place {
    display: inline-block;
    position: absolute;
  }

  .user-address {
    font-size: 16px;
    color: #fcd500;
    padding-left: 30px;
    max-width: 370px;
    overflow: hidden;
  }
  
  .change-address {
    font-size: 14px;
    color: #fff;
    float: right;
    text-decoration: underline;
  }
}