<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{title}}</title>
	<link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="/css/styles.css" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">
</head>
<body class="page404">

	{{> header/index }}

	<div class="wrapper">
		<h1 class="page404-title">Página não encontrada!</h1>
		<a href="/" class="btn btn-back-home">Voltar para home</a>
	</div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgRo36BIYcs4Ux-HuBcXXnm6K-v4Zmuuc&libraries=places&callback=initAutocomplete" async defer></script>
	<script src="/js/bundle.js"></script>
</body>
</html>