<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">
</head>
<body class="home">

	{{> header/index }}

	<div class="section-header">
    <div class="section-hero">
      <h1 class="title">Cerveja gelada em até 1h.</h1>
      <h2 class="subtitle">Pedir cerveja ficou tão facil quanto pedir pizza.</h2>
      {{> findAddress/index }}
    </div>
	</div>

	{{> modal/index
			class='modal-seller-not-found'
			content='
				<h3 class="modal-title"> Ops!</h3>
				<h4 class="modal-subtitle">Não encontramos nenhum fornecedor na sua area! </h4>
				<button class="btn close">Continuar</button>
				'
	 }}

	 {{> modal/index
			class='modal-age-gate'
			content='
				<h3 class="modal-title"> Hey!</h3>
				<h4 class="modal-subtitle">Você tem mais de 18 anos?</h4>
				<div class="group-button">
					<button class="btn age-gate-no">Não</button>
					<button class="btn age-gate-yes">SIM</button>
				</div>
				'
	 }}

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgRo36BIYcs4Ux-HuBcXXnm6K-v4Zmuuc&libraries=places&callback=initAutocomplete" async defer></script>
	<script src="/js/bundle.js"></script>
</body>
</html>