.home {
	padding-top: 0 !important;
	background: {
		image: url('/images/bg-full.jpg');
		repeat: no-repeat;
		position: -220px 0px;
	}
	
	.header {
		background-color: transparent;
	}
}

@media screen and (max-width: 1200px) {
	.home {
		background: {
			size: inherit;
			position: -520px 0px;
		}
	}
}

.section-hero {
	width: 480px;
	position: absolute;
	top: 35vh;
	right: 40px;

	.title,
	.subtitle {
		color: #fff;
		font-weight: 700;
		text-shadow: 0 1px 3px rgba(0,0,0,0.8);
	}

	.title {
		font-size: 50px;
		line-height: 60px;
	}

	.subtitle {
		font-size: 18px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 520px) {
	.section-hero {
		padding: 0 20px;
		width: 100%;
		top: 100px;
		right: 0;

		.title {
			font-size: 40px;
		}
	
		.subtitle {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 360px) {
	.section-hero {
		.title {
			font-size: 30px;
			line-height: 40px;
		}
	
		.subtitle {
			font-size: 16px;
		}
	}
}

.modal-seller-not-found .btn {
	display: inherit;
	margin: 20px auto 0;
}